<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" id="header">
			<ul class="nav">
				<li><a href="<%= root_path %>">ホーム</a></li>
				<li><a href="">検索</a></li>
				<li><a href="">画像</a></li>
				<li><a href="">動画</a></li>
				<li><a href="">地図</a></li>
				<li><a href="">ニュース</a></li>
				<li><a href="">ショッピング</a></li>
				<li><a href="">Gmail</a></li>
				<li><ul class="nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						もっと見る
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="">翻訳</a></li>
							<li><a href="">書籍</a></li>
							<li><a href="">Scholar</a></li>
							<li><a href="">ブログ</a></li>
							<li class="divider"></li>
							<li><a href="">YouTube</a></li>
							<li><a href="">カレンダー</a></li>
							<li><a href="">写真</a></li>
							<li><a href="">ドキュメント</a></li>
							<li><a href="">サイト</a></li>
							<li><a href="">グループ</a></li>
							<li><a href="">リーダー</a></li>
							<li class="divider"></li>
							<li><a href="">さらにもっと≫</a></li>
						</ul>
					</li>
				</ul></li>
			</ul>
			<% if user_signed_in? %>
			<ul class="nav pull-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<%= current_user.name %>
					<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="">Google+に参加</a></li>
						<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
						<li><a href="">アカウント設定</a></li>
						<li class="divider"></li>
						<li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
					</ul>
				</li>
			</ul>
			<% else %>
			<ul class="nav pull-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					test
					<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="">Google+に参加</a></li>
						<li><a href="">プライバシー</a></li>
						<li><a href="">アカウント設定</a></li>
						<li class="divider"></li>
						<li><%= link_to "ログイン", new_user_session_path %></li>
					</ul>
				</li>
			</ul>
			<% end %>
		</div>
	</div>
</div>