<h1>Listing items</h1>

<%= search_form_for @search do |f| %>
  <div class="field">
    <%= f.label :title_cont, "Title" %>
    <%= f.text_field :title_cont %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>


<br />

<%= link_to 'New Item', new_item_path %>


<%= render 'thumb' %>
