<p id="notice"><%= notice %></p>

<p>
  <b>User_id:</b>
  <%= @item.user.name %>
</p>
<% unless current_user==@item.user %>
      <% if current_user.following?(@item.user) %>
        <%= link_to "Remove", user_unfollow_item_path %>
      <% else %>
        <%= link_to "Add Friend", user_follow_item_path %>
      <% end %>
<% end %>
<p>
  <b>Tags:</b>
  <%= @item.tag_list %>
</p>
<p>
  <b>Title:</b>
  <%= @item.title %>
</p>
<p>
	<b>Image</b>
	<%= image_tag @item.image_url(:show) %>
</p>
<p>
  <b>Text:</b>
  <%= @item.text %>
</p>

<p>
  <% @following.each do |f| %>
  <b><%= f.name %></b><br />
  <% end %>
</p>

<% if user_signed_in? %>
<%= render 'comments/form' %>
<% end %>

<div class="comment_list">
<%= render 'comments/show' %>
</div>



<% if current_user==@item.user %>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
<% end %>