<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>
<p>
	<b>Image</b>
	<%= image_tag @item.image_url.to_s %>
</p>
<p>
  <b>Text:</b>
  <%= @item.text %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
