<h1>Activities#index</h1>
<% @activities.each do |activity| %>
    <% if activity.trackable_type == "Item" %>
      <% if activity.owner==current_user %>
       <div class="activity">
        You made <%= link_to activity.trackable.title, activity.trackable %>
       </div>
      <% elsif @following.include?(activity.owner) %>
       <div class="activity">
        <%= activity.owner.name %> made <%= link_to activity.trackable.title, activity.trackable %>
       </div>
      <% else %>
      <% end %>
    <% else %>
      <% if activity.owner == current_user %>
      <div class="activity">
        You added comment to 
        <%= link_to activity.trackable.item.title, activity.trackable.item %> 
        </div>
      <% elsif @following.include?(activity.owner) %>
       <div class="activity">
        <%= activity.owner.name %>
         added comment to 
        <%= link_to activity.trackable.item.title, activity.trackable.item %><br />
       </div>
      <% else %>
      <% end %>
    <% end %>
<% end %>